<footer class="footer">
    <div class="container">
        <div class="footer__content d-grid">

            <div class="footer__intro">
                <h4>آشنایی اولیه</h4>
                <p>گنجینه کتاب مجموعه ای کامل از تمام کتاب های روز دنیا</p>
            </div>

            <div class="footer__access">
                <h4>دسترسی سریع</h4>

                <ul>
                    <li>
                        <a href="#">لیست کتاب ها</a>
                    </li>
                    <li>
                        <a href="#">درباره ما</a>
                    </li>
                    <li>
                        <a href="#">تماس با ما</a>
                    </li>
                </ul>
            </div>

            <div class="footer__map">
                <h4>آدرس</h4>

                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.751074059052!2d51.24991041474848!3d35.75692263342543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8de4b032408af3%3A0xd890c67cb10105f0!2zVGVocmFuIFByb3ZpbmNlLCBUZWhyYW4sIERpc3RyaWN0IDIyLCDYrtuM2KfYqNin2YYg2LjZgdix2IwgSXJhbg!5e0!3m2!1sen!2sfr!4v1622642762745!5m2!1sen!2sfr"
                            allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>

        </div>
    </div>
</footer>