<div class="container mx-auto">
    <div class="nav justify-content-space-between align-items-center" id="menu">
        <nav class="nav__menu">
            <ul class="nav__list d-flex">
                <li><a href="#" class="active">صفحه اصلی</a></li>
                <li class="px-4"><a href="#">لیست کتاب ها</a></li>
                <li class="px-4"><a href="#">تماس با ما</a></li>
                <li class="px-4"><a href="#">درباره ما</a></li>
            </ul>
        </nav>

        <a href="tel:09354425459" class="nav__tel">
            <span>تلفن تماس</span> <span class="english-font text-xs">09354425459</span>
        </a>
    </div>
</div>