<div class="container">
    <header class="header d-flex justify-content-space-between align-items-center">
        <a href="#" class="header__logo text-decoration-none">
            <i class="fas fa-book-reader"></i> <span>گنجینه کتاب</span>
        </a>

        <div class="header__search">
            <form action="/">
                <input type="text" name="query" id="query" class="round-sm" placeholder="جستجو عنوان کتاب..." />
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <div class="header__auth">
            <a class="btn btn-secondary">
                ورود/ثبت نام
            </a>
        </div>

        <a class="header__nav">
            <i class="fas fa-user"></i>
            <i class="fas fa-search"></i>
            <i class="fas fa-bars" id="hamburger-menu"></i>
        </a>
    </header>
</div>
