@model IEnumerable<Book>

@{
    ViewBag.Title = "صفحه اصلی";
}

<!-- hero -->
<div class="hero">
    <div class="hero__overlay"></div>
    <div class="container">
        <div class="hero__content d-flex flex-column justify-content-center">
            <h1>گنجینه کتاب</h1>

            <div class="hero__slogan">
                <span>هر کتابی</span>
                <span class="text-lg">تو هر شرایطی</span>
                <span>هر کجا که باشی</span>
                <span class="text-lg">ما به دستت می رسونیم.</span>
            </div>

            <div class="hero__actions">
                <a href="#" class="btn btn-secondary ml-1">لیست کتاب</a>
                <a href="#" class="btn btn-light">سفارش تلفنی</a>
            </div>
        </div>
    </div>
</div>

<!-- the best books -->
<div class="container">
    <div class="book">
        <div class="book__content">
            <h2>لیست کتاب های برتر</h2>

            <div class="book__list d-grid">

                <div class="book__item">
                    <figure>
                        <a href="#">
                            <img src="/img/artem-maltsev-3n7DdlkMfEg-unsplash.jpg" alt="تست" />
                        </a>
                        <figcaption>J. K. Rowling</figcaption>
                    </figure>
                    <div>
                        <h3 class="book__title">
                            <a href="#">هری پاتر و کتاب جادو</a>
                        </h3>
                        <div>
                            <span class="tag">تخیلی</span> <span class="tag">ماجراجوبی</span>
                        </div>
                    </div>
                </div>

                <div class="book__item">
                    <figure>
                        <img src="img/game-of-thrones.jpg" alt="تست" />
                        <figcaption>Goarge RR. martin</figcaption>
                    </figure>
                    <div>
                        <h3 class="book__title">بازی تاج و تخت</h3>
                        <div>
                            <span class="tag">تخیلی</span> <span class="tag">ماجراجوبی</span>
                        </div>
                    </div>
                </div>

                <div class="book__item">
                    <figure>
                        <img src="img/die-hotel.jpg" alt="تست" />
                        <figcaption>روشنک رستم</figcaption>
                    </figure>
                    <div>
                        <h3 class="book__title">هتل مرگ</h3>
                        <div>
                            <span class="tag">ترسناک</span> <span class="tag">جنایی</span>
                        </div>
                    </div>
                </div>

                <div class="book__item">
                    <figure>
                        <img src="img/love.jpg" alt="تست" />
                        <figcaption>آریا خدارحمی</figcaption>
                    </figure>
                    <div>
                        <h3 class="book__title">عشق مقدس</h3>
                        <div>
                            <span class="tag">عاشقانه</span>
                        </div>
                    </div>
                </div>

                <div class="book__item">
                    <figure>
                        <img src="img/crush.jpg" alt="تست" />
                        <figcaption>آریا خدارحمی</figcaption>
                    </figure>
                    <div>
                        <h3 class="book__title">دیوانتم</h3>
                        <div>
                            <span class="tag">عاشقانه</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- latest books -->
<div class="container">
    <div class="book">
        <div class="book__content">
            <h2>لیست آخرین کتاب</h2>

            <div class="book__list d-grid">

                @foreach (var book in Model)
                {
                    <div class="book__item">
                        <figure>
                            <img src="/img/@book.Cover" alt="@book.Title" />
                            <figcaption>@book.Author.FullName</figcaption>
                        </figure>
                        <div>
                            <h3 class="book__title">@book.Title</h3>
                            <div>
                                @foreach (var bookGenre in book.BookGenres)
                                {
                                    <span class="tag">@bookGenre.Genre.Title</span>
                                }
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>